* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../cursor/ke.cur), default;
}
html {
  line-height: normal;
}

input,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.word {
  position: fixed;
  z-index: 999;
  animation: up 1s ease;
}
@keyframes up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.scrollY::-webkit-scrollbar {
  width: 5px;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.scrollY::-webkit-scrollbar-corner {
  background-color: transparent;
}
/* 滚动条滑块 */
.scrollY::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: pink;
  width: 0;
}
/* 滚动条轨道 */
.scrollY::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: transparent;
  width: 0;
}

#app {
  background-image: linear-gradient(
      90deg,
      rgba(50, 0, 0, 0.05) 3%,
      transparent 0
    ),
    linear-gradient(1turn, rgba(50, 0, 0, 0.05) 3%, transparent 0);
  background-size: 20px 20px;
}
