*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../cursor/pointer.d7ba1422.cur), default;
  //cursor: url(../cursor/Hand.ico), default;
}
body,html,#app{
  width: 100%;
  height: 100%;
  //cursor: url("../cursor/cursor.f19acf76.cur"),pointer !important;
  //cursor:url(../cursor/Arrow.cur),auto
}
