@font-face {
  font-family: "iconfont"; /* Project id 3286806 */
  src: url('iconfont.woff2?t=1668685801445') format('woff2'),
       url('iconfont.woff?t=1668685801445') format('woff'),
       url('iconfont.ttf?t=1668685801445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiao:before {
  content: "\e626";
}

.icon-aixin:before {
  content: "\e60f";
}

.icon-xiaoyouxi:before {
  content: "\e617";
}

.icon-laoshu:before {
  content: "\e621";
}

.icon-gengduo:before {
  content: "\e643";
}

.icon-biaoqing:before {
  content: "\e601";
}

.icon-yinlemusic216:before {
  content: "\e620";
}

.icon-rili:before {
  content: "\e663";
}

.icon-liulan:before {
  content: "\e624";
}

.icon-a-taolunluntan:before {
  content: "\e674";
}

.icon-huidaodingbu:before {
  content: "\e61c";
}

.icon-shangyishou:before {
  content: "\e607";
}

.icon-xiayishou:before {
  content: "\e62c";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-music:before {
  content: "\e700";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili-line:before {
  content: "\e69e";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-jilu:before {
  content: "\e66b";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-lianjie:before {
  content: "\e8e1";
}

.icon-biji:before {
  content: "\e62d";
}

.icon-guanyuwomen:before {
  content: "\e609";
}

.icon-zongjie:before {
  content: "\e62e";
}

.icon-liuyanban-05:before {
  content: "\e630";
}

.icon-wenzhangfenlei:before {
  content: "\e6c6";
}

